modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/amani-roots run dev"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PORT = "5173"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51TCVKwE8MLgkmP6cZsmlOf1IJ956yOfQshmnvz655Mt3SkfQfpVGLCrGbv5eH3rUmTGZfKUBoCotdjRiATspAD6A00ad7bIR7p"
VITE_FIREBASE_API_KEY = "AIzaSyDX9CwblPPuwdQzz3icBYxxyFg0H3-4jiw"
VITE_FIREBASE_AUTH_DOMAIN = "hi12-f2ba1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "hi12-f2ba1"
VITE_FIREBASE_STORAGE_BUCKET = "hi12-f2ba1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "105792097856"
VITE_FIREBASE_APP_ID = "1:105792097856:web:9d34a35d3ad824811859a5"
VITE_FIREBASE_MEASUREMENT_ID = "G-T9HVGXXJRQ"

[nix]
channel = "stable-25_05"
