modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/amani-roots run dev"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PORT = "5173"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51TCVKwE8MLgkmP6cZsmlOf1IJ956yOfQshmnvz655Mt3SkfQfpVGLCrGbv5eH3rUmTGZfKUBoCotdjRiATspAD6A00ad7bIR7p"

[nix]
channel = "stable-25_05"
